* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
body {
  background-color: #ebebeb;
}
nav .btn:hover {
  border-color: #198754;
}

.text-outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #ebebeb;
}
.text-outline-dark {
  -webkit-text-stroke: 1px #ebebeb;
  -webkit-text-fill-color: #213555;
}

#services {
  background-color: #f1f0ef;
}
.service-icon {
  width: 2em;
  aspect-ratio: 1 /1;
}
@media screen and (min-width: 768px) {
  #hero-content {
    height: 75vh;
  }
}
.about {
  color: #ebebeb;
}
.about .col > div {
  background-color: #213555;
}
.progress {
  background-color: #314e6a;
}
.progress-bar {
  background-color: #ebebeb;
}
#html-bar {
  width: 85%;
}
#css-bar {
  width: 75%;
}
#javascript-bar {
  width: 15%;
}
#soe-bar {
  width: 30%;
}
.projects div.btn{
    color: #ebebeb;
}
.projects h3 > span {
  color: #2e6499;
}
