* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
body {
  background-color: #ebebeb;
}
header div.container {
  background-color: #ebebeb;
}
.text-outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #ebebeb;
}
.border-underline {
  border-bottom-color: #213555;
  border-bottom-style: solid;
}

#services,
#about .col > div,
#contact {
  background-color: #f1f0ef;
}

.service-icon {
  width: 2em;
  aspect-ratio: 1 /1;
}

.progress {
  background-color: #e5e6e6;
}
.progress-bar {
  background-color: #213555;
}
#html-bar {
  width: 85%;
}
#css-bar {
  width: 75%;
}
#javascript-bar {
  width: 15%;
}
#soe-bar {
  width: 30%;
}

#contact img {
  width: 8em;
  background-color: #ebebeb;
}

.btn-style {
  letter-spacing: 2px;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
  position: relative;
  transition: 0.5s;
}

.btn-style:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
