* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
body {
  background-color: #ebebeb;
}
nav .btn:hover {
  border-color: #198754;
}

.text-outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #ebebeb;
}
#services {
  background-color: #f1f0ef;
}
.service-icon {
  width: 2em;
  aspect-ratio: 1 /1;
}
@media screen and (min-width: 768px) {
  #hero-content {
    height: 75vh;
  }
}
