* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
body {
  background-color: #ebebeb;
}
nav .btn:hover {
  border-color: #198754;
}
/* .hero-section {
  height: 80vh;
} */
.text-outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #ebebeb;
}
