* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
body {
  background-color: #ebebeb;
}
header div.container {
  background-color: #ebebeb;
}
.text-outline {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #ebebeb;
}
.border-underline {
  border-bottom-color: #213555;
  border-bottom-style: solid;
}

#services,
#about .col > div,
#contact {
  background-color: #f1f0ef;
}

.service-icon {
  width: 2em;
  aspect-ratio: 1 /1;
}

.progress {
  background-color: #e5e6e6;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
}
.progress-bar {
  background-color: #213555;
}
#html-bar {
  width: 85%;
}
#css-bar {
  width: 75%;
}
#javascript-bar {
  width: 15%;
}
#soe-bar {
  width: 30%;
}

#contact img {
  width: 8em;
  background-color: #ebebeb;
}

#projects a {
  text-decoration: none;
  color: #212529;
}
#projects a > div {
  position: relative;
  transition: all 0.1s ease-in-out;
  &:hover {
    top: 20px;
    border-radius: 30px;
    border-color: #e5e6e6;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
  }
}

.btn-style {
  letter-spacing: 2px;
  box-shadow: 1px 1px 0px 0px;
  position: relative;
}

.btn-style:hover {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #212529;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
